config SHIELD_MONOKEY_R
    def_bool $(shields_list_contains,monokey_R)

config SHIELD_MONOKEY_L
    def_bool $(shields_list_contains,monokey_L)

config setting_reset
    def_bool $(shields_list_contains,setting_reset)