if SHIELD_MONOKEY_R

config ZMK_KEYBOARD_NAME
    default "monokey_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MONOKEY_L

config ZMK_KEYBOARD_NAME
    default "monokey_L"

config ZMK_SPLIT
    default y


endif